<!-- <ion-card>
  <ion-card-subtitle class="ion-margin">
    <ion-row class="ion-align-items-center" >
      <ion-col class="ion-margin" (click)="openArticle()">
        <span class="text-primary">{{ index }}. </span>
        <span class="article-source-name">{{ article.source.name }}</span>
      </ion-col>
      <ion-col align="right">
        <ion-button (click)="onOpenMenu()" fill="clear">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-subtitle>
  <ion-card-title class="ion-padding-horizontal ion-margin-bottom">
    {{ article.title }}
  </ion-card-title>
  <ion-img *ngIf="article.urlToImage" [src]="article.urlToImage" (click)="openArticle()">
  </ion-img>
  <ion-card-content *ngIf="article.description">
    <p>{{article.description}}</p>
  </ion-card-content>
</ion-card> -->

<div class="w-full flex shadow-md h-32">
  <img [src]="article.urlToImage" class="h-auto w-28 object-cover rounded-lg" (click)="enterArticle()">
  <div class="py-2 px-4 flex flex-col justify-between">
    <div class="text-sm leading-4 font-semibold text-zinc-600">{{article.title}}</div>
    <div class="text-xs font-bold text-gray-400">{{article.publishedAt | date}}</div>
  </div>

</div>
